<h1>Editing student application</h1>

<%= render "form", student_application: @student_application %>

<br>

<div>
  <%= link_to "Show this student application", campaign_student_application_path(@campaign, @student_application) %>
  <%= link_to "Back to student applications", campaign_student_applications_path %>
</div>
