<h1>Editing student application</h1>

<%= render "form", student_application: @student_application %>

<br>

<div>
  <%= link_to "Show this student application", @student_application %> |
  <%= link_to "Back to student applications", student_applications_path %>
</div>
