<p style="color: green"><%= notice %></p>

<h1>Student applications</h1>

<div id="student_applications">
  <% @student_applications.each do |student_application| %>
    <%= render student_application %>
    <p>
      <%= link_to "Show this student application", campaign_student_application_path(@campaign, student_application) %>
    </p>
  <% end %>
</div>

<%= link_to "New student application", new_campaign_student_application_path %>
