<h1>New student application</h1>

<%= render "form", student_application: @student_application %>

<br>

<div>
  <%= link_to "Back to student applications", campaign_student_applications_path %>
</div>
